<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

  </head>

  <body class="flex-column">

    <div class="untitled-page root">
      <div class="flex_col">
        <div class="flex_col1">
          <h1 class="hero_title">ДАВАЙ НА ТЫ</h1>
          <h1 class="hero_title1_box">
            <span class="hero_title1">
              <span class="hero_title1_span0">Full-stack маркетинг агентство Делаем компании </span>
              <span class="hero_title1_span1">выдающимися</span>
            </span>
          </h1>
        </div>
        <button class="btn">
          <!-- TODO --> 
          Начать проект
        </button>
      </div>
      <div class="flex_row">
        <img class="image1" src="/assets/d13ef6ab0555ce02533fe3b2db10a39e.svg" alt="alt text" />
        <div class="flex_row1">
          <h3 class="subtitle">о нас</h3>
          <h3 class="subtitle">Проекты</h3>
          <h3 class="subtitle">услуги</h3>
          <h3 class="subtitle">Мерч</h3>
          <h3 class="subtitle">контакты</h3>
        </div>
      </div>
      <img class="image" src="/assets/b744636902accde4e379a7771681d9f6.png" alt="alt text" />
    </div>

  </body>

</html>
