

@import url('../fonst/PPNeueMachina-Regular.otf');
@import url('../fonst/PPNeueMachina-Ultrabold.otf');
@import url('../fonst/PPNeueMachina-PlainUltraboldItalic.otf');
@import url('../fonst/PPNeueMachina-PlainUltrabold.otf');
@import url('../fonst/PPNeueMachina-PlainRegularItalic.otf');
@import url('../fonst/PPNeueMachina-PlainRegular.otf');
@import url('../fonst/PPNeueMachina-PlainLightItalic.otf');
@import url('../fonst/PPNeueMachina-PlainLight.otf');
@import url('../fonst/PPNeueMachina-Light.otf');
@import url('../fonst/PPNeueMachina-InktrapUltraboldItalic.otf');
@import url('../fonst/PPNeueMachina-InktrapRegularItalic.otf');
@import url('../fonst/PPNeueMachina-InktrapLightItalic.otf');




.untitled-page .flex_col {
  position: relative;
  display: inline-flex;
  float: right;
  flex-direction: column;
  gap: 24px 0;
  top: 390px;
  right: 109px;
  width: 762px;
}

.untitled-page .flex_col1 {
  display: flex;
  position: sticky;
  flex-direction: column;
  gap: 1px 0;
}
.untitled-page .hero_title {
  margin: 0 2px 0 0;
  font: 400 100px/1.2 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
  color: #0a4175;
}
.untitled-page .hero_title1 {
  font: 400 40px/1.1 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
  color: #0a4175;
}
.untitled-page .hero_title1_span0 {
  font: 1em/1.1 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
}
.untitled-page .hero_title1_span1 {
  font: 1em/1.1 "PP Neue Machina Inktrap Regular", Helvetica, Arial, serif;
  /* font-style: italic; */
}
.untitled-page .btn {
  display: flex;
  justify-content: center;
  width: 281px;
  max-width: 100%;
  font: 400 20px/1.2 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
  color: #0a4175;
  text-align: center;
  border-radius: 22.5px;
  padding: 10.5px 8px;
  outline: 1px solid #0a4175;
  outline-offset: -1px;
}
.untitled-page .flex_row {
  position: fixed;
  inset: 19px 309px 717px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 1219px;
  height: 64px;
}
.untitled-page .image1 {
  width: 67px;
  min-width: 0;
  height: 64px;
}
.untitled-page .flex_row1 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 553px;
  min-width: 0;
}
.untitled-page .subtitle {
  min-width: 0;
  font: 400 20px/1.2 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
  color: #0a4175;
}


@keyframes typing {
  
  0%, 27% { content: ""; }
  1%, 26% { content: "в"; }
  2%, 25% { content: "вы"; }
  3%, 23% { content: "выд"; }
  4%, 22% { content: "выда"; }
  5%, 21% { content: "выдаю"; }
  6%, 19% { content: "выдающ"; }
  7%, 18% { content: "выдающи"; }
  8%, 17% { content: "выдающим"; }
  9%, 16% { content: "выдающими"; }
  10%, 15% { content: "выдающимис"; }
  11%, 14% { content: "выдающимися"; }

  30%, 62% { content: ""; }
  31%, 61% { content: "в"; }
  33%, 60% { content: "вд"; }
  34%, 59% { content: "вдо"; }
  35%, 58% { content: "вдох"; }
  36%, 57% { content: "вдохн"; }
  37%, 56% { content: "вдохно"; }
  38%, 55% { content: "вдохнов"; }
  39%, 54% { content: "вдохновл"; }
  41%, 53% { content: "вдохновля"; }
  42%, 52% { content: "вдохновляю"; }
  43%, 51% { content: "вдохновляющ"; }
  44%, 50% { content: "вдохновляющи"; }
  45%, 49% { content: "вдохновляющим"; }
  46%, 48% { content: "вдохновляющими"; }

  65%, 97% { content: ""; }
  66%, 96% { content: "з"; }
  67%, 95% { content: "за"; }
  68%, 94% { content: "зап"; }
  69%, 93% { content: "запо"; }
  70%, 92% { content: "запом"; }
  71%, 91% { content: "запоми"; }
  72%, 90% { content: "запомин"; }
  73%, 89% { content: "запомина"; }
  74%, 88% { content: "запоминаю"; }
  75%, 87% { content: "запоминающ"; }
  76%, 86% { content: "запоминающи"; }
  77%, 85% { content: "запоминающим"; }
  78%, 84% { content: "запоминающими"; }
  79%, 83% { content: "запоминающимис"; }
  80%, 82% { content: "запоминающимися"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.hero_title1_span1::before {
  content: "";
  animation: typing 13.5s infinite;
}

.hero_title1_span1::after {
  content: "";
  animation: blink 0.5s linear infinite;
}


@media (prefers-reduced-motion) {
  .hero_title1_span1::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "выдающимися"; }
    33% { content: "вдохновляющими"; }
    66% { content: "запоминающимися"; }
  }

  .hero_title1_span1::before {
    content: "выдающимися";
    animation: sequencePopup 12s linear infinite;
  }
}


.parallax {
  z-index: -998;
  position: relative;
  width: 100%;
  height: 100vh;
  background: 
  url(../assets/gloweffect.png);
  mix-blend-mode: color-dodge;
  background-repeat: no-repeat;
}


.image {
  transition: 0.4s ease-out;
  z-index: -999;
  filter: blur(35px);
  position: fixed;
  inset: 54% 40% 10% 28%;
  object-fit: cover;
  transform-origin: center;
}


.titled-page.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 172px;
  margin-right: 172px;
  margin-top: 600px;
  margin-bottom: 10vh;
}

.flex_row_list {
  width: calc(438px - 20px);
  margin-top: 114px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
}

.flex_row_list.show {
  opacity: 1;
  transform: scale(1);
}

.image_list1,.image_list2,.image_list3,.image_list4,.image_list5,.image_list6 {
  width: 72px;
  object-fit: cover;
  margin-bottom: 20px;
}

.flex_col_list {
  width: 100%;
  padding-left: 20px;
  color: #ffffff;
}

.medium_title {
  font: 24px/1.2 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
  margin-bottom: 10px;
}

.subtitle {
  font: 20px/1.2 "PP Neue Machina Plain Regular", Helvetica, Arial, serif;
}






